body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 
    "header header header"
    "left center right"
    "footer footer footer"1fr
    / 1fr 1fr 1fr;
}

.header {
    grid-area: header;
}

.only-mobile-logo1 {
    display: none;
}

.only-mobile-logo2 {
    display: none;
}

.f1-pc {
    width: 70%;
    margin-top: 25%;
    margin-left: 15%;
}

.f1-mobile {
    display: none;
}

.only-mobile-logo3 {
    display: none;
}

.img1 {
    background-position: center;
    text-align: center;
}

.img1 img {
    width:40%;
    margin-top: 30%;
    margin-bottom: 15%;
}

.left {
    grid-area: left;
    margin-top: -20%;
}

.center {
    grid-area: center;
    margin-top: -20%;
}

.right {
    grid-area: right;
    margin-top: -20%;
}

.img2 img {
    width: 35%;
    margin-left: 10%;
}

.img3 img {
    width: 70%;
    margin-top: 20%;
    margin-left: 10%;
}

.img4 img {
    width: 50%;
    margin-top: 20%;
    margin-left: 50%;
}

.img5 img {
    width: 90%;
    margin-right: 10%;
    margin-top: 35%;
}

.img6 img {
    width: 100%;
    margin-top: 35%;
}

.img7 img {
    width: 50%;
    margin-top: 20%;
    margin-left: 10%;
}

.img8 img {
    width: 60%;
    margin-top: 25%;
}

.img9 img {
    width: 70%;
    margin-top: 35%;
} 

@media only screen and (max-width: 959px) {

    body {
        margin: 0;
        padding: 0;
        text-align: center;
        display: grid;
        grid-template:
        "header"
        "center"
        "left"
        "right" ;
    }

    .right {
        margin-top: 0%;
    }
    .center {
        margin-bottom: 20%;
    }

    .only-mobile-logo1 {
        display: block;
    }

    .only-mobile-logo1 img {
        width: 60%;
        margin-top: 20%;
    }

    .only-mobile-logo2 {
        display: block;
    }

    .only-mobile-logo2 img {
        width: 20%;
        margin-top: 20%;
        margin-bottom: -15%;
    }

    .f1-pc {
        display: none;
    }

    .f1-mobile {
        display: block;
        width: 70%;
        margin-top: 25%;
        margin-left: 15%;
    }

    .f1-mobile img {
        width: 80%;
        margin-top: 0%;
    }

    .only-mobile-logo3 {
        display: block;
    }

    .only-mobile-logo3 img {
        width: 40%;
        margin-top: 15%;
    }

    .img1 img {
        width: 80%;
        margin-top: 20%;
    }

    .f2 img {
        width: 70%;
        margin-top: 20%;
    }

    .img2 {
        margin-top: -100%;
    }

    .img2 img {
        width: 50%;
    }

    .img3 img {
        width: 80%;
    }

    .img5 {
        margin-top: 90%;
    }

    .img5 img {
        width: 90%;
    }

    .img7 {
        margin-top: -150%;
    }

    .img7 img {
        width: 70%;
    }

    .img9 {
        margin-top: 120%;
    }

    .img9 img {
        width: 60%;
    }

    .img4 {
        display: none;
    }

    .img6 {
        display: none;
    }

    .img8 {
        display: none;
    }

}
