body {
    margin: 0;
    text-align: center;
}

.img1 {
    background-position: center;
}

.img1 img {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 15%;
}

.title1-1 {
    background-color: black;
    color: white;
    margin: 0% 40% 0% 40%;
}

.title1-2 {
    margin-top: 10%;
    font-size: small;
    font-weight: lighter;
}

.border {
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin: 10% 25% 0% 25%;
}

.img2 {
    background-position: center;
}

.img2 img {
    width: 50%;
}

.sentence1 {
    margin: 5%;
}

.img-left {
    background-position: left;
}

.img-left img {
    width: 50%;
    margin-right: 25%;
}

.img-right {
    background-position: right;
}

.img-right img {
    width: 50%;
    margin-left: 25%;
}

.url1 {
    margin: 5% 15% 5% 15%;
}

.url1-1 {
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.url1-2 {
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.url1-3 {
    border-width: thin;
    border-style: solid;
    border-color: black;
}