*{
  margin: 0;
  padding:0;
}
.youthsense_footer{
  width:100%;
  background-color: #404040;
}
.youthsense_footer ul{
  width:100%;
  list-style: none;
  color:white;
  text-align: center;
  padding-top: 40px;
}
.youthsense_footer ul li{
  border:solid 0.5px white;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 0.9rem;
}
.youthsense_footer ul li a{
  text-decoration: none;
  color:white;
}
.list_1{
  margin-bottom:20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list_2{
  margin-bottom:20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list_3{
  margin-bottom:35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.youthsense_copyright{
  font-size: 0.1rem;
  text-align: center;
  color:white;
  padding-bottom: 35px;
}

/* pc版 */
@media (min-width: 1000px)
{
  .youthsense_footer{
    margin-top: 50px;
    width:100%;
    background-image: url(/Users/shuntatakemoto/Youthsense_HP/public/assets/img/pc-footer1.png);
    background-size: cover;
  }
  .youthsense_footer ul li{
    border:solid 0px white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }
  .youthsense_copyright{
    font-size: 0.6rem;
    text-align: center;
    color:white;
    padding-bottom: 35px;
  }
}