body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: fot-tsukubrdgothic-std;
    font-style: normal;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,ul,ol,li{
    padding: 0;
    margin: 0;
}
.history-title{
    width: 236px;
    height: 24px;
    background-color: #000;
    padding-top: 3px;
    margin: 26px 0 35px;
}
.history-title h1{
    font-size: 12px;
    color:#fff;
    text-align: center;
}
.history-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.history-content {
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
}
.coffee-icon {
    width: 24vw;
    height: 13vh;
}
.episode {
}
.episode-title, .episode-subtitle {
    text-align: center;
    font-size: 14px;
    margin: 0 10%;

}
br {
    display: inline-block;
    color: #000;


}
.episode-block {
    font-size: 13px;
}
.episode-block p {
    line-height: 1.5;
}

.cafe-image, .media-image {
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}

