body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: fot-tsukubrdgothic-std;
    font-style: normal;
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6,ul,ol,li{
    padding: 0;
    margin: 0;
}
.history-title{
    width: 236px;
    height: 24px;
    background-color: #000;
    padding-top: 3px;
    margin: 26px 0 35px;
}
.history-title h1{
    font-size: 0.75rem;
    color:#fff;
    text-align: center;
}
.history-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}
.history-icon {
    padding: 5px;
    margin-bottom: 20px;
}
.history-content {
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    height: 100px;
}
.coffee-icon {
    background-image: url(../img/coffee-bg.jpg);
}
.web-icon {
    background-image: url(../img/web-bg.jpg);
}
.media-icon {
    background-image: url(../img/media-bg.jpg);
}
.goods-icon {
    background-image: url(../img/goods-bg.jpg);
}
.guesthouse-icon {
    background-image: url(../img/guesthouse-bg.jpg);
}
.career-icon {
    background-image: url(../img/career-bg.jpg);
}
.history-icon-bg-filter{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    position: relative;
}
.history-icon-bg-filter p {
    color: #fff;
    font-family: Bely, serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.episode {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 45px;
}
.episode-name {
    text-align: center;
}
.episode-title, .episode-subtitle {
    font-size: 0.85px;

}
.episode-title {
    display: inline-block;
    border-bottom: 1px solid #000000;
    padding-bottom: 3px;
}
.episode-subtitle {
    margin-top: 15px;
    margin-bottom: 25px;
}

.episode-block {
    padding: 3px;
    font-size: 0,8rem;
    margin-bottom: 12px;
    text-align: center;
}
.episode-block p {
    line-height: 2;
}
span {
    color: #0298D1;
}

.cafe-image, .media-image {
    text-align: center;
    width: 300px;
    height: 300px;
}



