/* ローディング画面  */
#loading1{
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.top-logo img{
  width:50%;
  padding-top: 60px;
}
.logo_youthsense img{
  padding-top: 300px;
}
.logo_youthsense{
  text-align: center;
}
/* Lサイズ 風船 */
.lb_balloon{
  position: absolute;
  top:-250px;
  left:-3%;
}
.ly_balloon{
  position: absolute;
  top:0px;
  left:70%;
}
.motion_L img{
  width:25%;
  animation-name: motionY;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
/* Lサイズ 円 */
.L_circle{
  position: absolute;
  top:0px;
  left:25%;
}
.motion_L_C img{
  width:25%;
  animation-name: motionY;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

/* Mサイズ */
.mb_balloon{
  position: absolute;
  top:80px;
  left:25%;
}
.mr_balloon{
  position: absolute;
  top:-20px;
  left:70%;
}
.motion_M img{
  width:15%;
  animation-name: motionY;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/* Mサイズ 円 */
.M_circle{
  position: absolute;
  top:-200px;
  left:0px;
}
.motion_M_C img{
  width:100%;
  animation-name: motionY;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

/* Sサイズ */
.sr_balloon{
  position: absolute;
  top:80px;
  left:25%;
}
.sy_balloon{
  position: absolute;
  top:80px;
  left:55%;
}
.motion_S img{
  width:8%;
  animation-name: motionY;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
/* Sサイズ 円 */
.S_circle{
  position: absolute;
  top:300px;
  left:0px;
}
.motion_S_C img{
  width:100%;
  animation-name: motionY;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

/* ローディングアニメーション */
@keyframes motionY {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(-200%);
  }
}
/* ローディング終了 */
.loaded {
  opacity: 0;
  visibility: hidden;
}
/* コンテンツ部分 */
.top-logo2 img{
  width:100%;
}
/* コンテンツを隠す */
.hidden{
  opacity: 0;
  visibility: hidden;
}